# Python temporary files
__pycache__/
*.pyc

# Jupyter temporary files
.ipynb_checkpoints/

# VS Code personal settings
.vscode/

# Streamlit secrets
.streamlit/secrets.toml

# Virtual environments
venv/
.venv/
env/